@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  color: #333;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ccc;
  padding: 16px;
  margin-bottom: 24px;
  height: 80px;
}

.home-link:link,
.home-link:visited,
.home-link:hover,
.home-link:active {
  text-decoration: none;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  color: inherit;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  height: 80%;
}

.search-form label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}

.search-form input {
  width: 300px;
  padding: 5px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  color: inherit;
}

.search-form input::placeholder {
  color: #ccc;
}

.search-form button {
  background-color: inherit;
  border: none;
  align-self: stretch;
  color: inherit;
}

.search-form button:hover {
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  color: inherit;
}

.back-button {
  display: block;
  color: inherit;
  margin: 0 auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.back-button .back-icon {
  height: 40px;
  width: 40px;
}

.search-form *:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(238, 238, 238, 0.637);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.listing-header {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.filter-value {
  font-weight: bolder;
}

.import-link {
  background-color: #ccc;
  padding: 8px 16px;
  border-radius: 5px;
}

.import-link:link,
.import-link:visited,
.import-link:hover,
.import-link:active {
  color: #333;
  text-decoration: none;
}

.exam-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.exam-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
}

.general-data,
.patient-data,
.doctor-data,
.test-data {
  border: 1px solid #eee;
}

.general-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  margin-bottom: 8px;
}

.patient-data--header,
.doctor-data--header,
.test-data--header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  background-color: #eee;
  padding: 8px;
}

.patient-data--header .title,
.doctor-data--header .title,
.test-data--header .title {
  text-transform: uppercase;
}

.patient-data--header .name,
.doctor-data--header .name {
  text-transform: uppercase;
  font-weight: bolder;
}

.patient-data--info,
.doctor-data--info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
}

.test-listing {
  padding: 8px;
}

.test-listing--info {
  list-style: none;
}

.test-listing--headers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #333;
  margin-bottom: 8px;
  font-weight: bold;
}

.test-listing--item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: .5px solid #eee;
  margin-bottom: 5px;
}

.test-listing--item:last-child {
  border-bottom: none;
}

.test-listing--headers span:nth-child(2),
.test-listing--headers span:nth-child(3), 
.test-listing--item span:nth-child(2),
.test-listing--item span:nth-child(3) {
  justify-self: end;
}

.exam-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.no-results-msg {
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 16px;
}

.import-form-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.import-form {
  width: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
  padding: 16px;
}

.import-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type=file] {
  font-family: inherit;
}

.import-form-session button[type=submit] {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.upload-icon {
  height: 16px;
  width: 16px;
}